@media (max-width: 800px) {
  .writing_header{
    max-width: 450px;
    min-width: 300px;
    margin: auto;
  }
  .writing_header_left,.writing_header_right{
    width: 100%;
  }
  .writing_body{
    max-width: 450px;
    min-width: 300px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 5px;
  }
  
  .Home_el_main{
    padding: 0px !important;
  }

  .el-drawer {
    width: 220px !important;
  }
  .el_card_generalization,
  .el_card_author,
  .el_card_time{
    display: none !important;
  }
  .el_card_title{
    max-width: 100px;
  }
}
@media (max-width: 1100px) {
  /* .el-aside {
    display: none;
  } */
  .list_li{
    height: 150px;
  }
  .el_card_el_image{
    width: 150px;
    height: 98px;
  }
  .el_card_title{
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 801px) and (max-width: 1100px){
  .Home_body {
    box-sizing: border-box;
    max-width: 700px;
    margin: 5px auto;
  }
  .el_card_generalization,
  .el_card_author{
    display: none !important;
  }
  .el_card_title{
    max-width: 350px;
  }

  .writing_header{
    max-width: 800px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
  }
  .writing_header_left,.writing_header_right{
    width: 50%;
  }
  .writing_body{
    padding-left: 5px;
    box-sizing: border-box;
    margin: auto;
  }
}
