@media (min-width: 801px) {
}
@media (min-width: 1100px) {
  .Home_body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 5px auto;
  }
  .list_li {
    height: 200px;
  }
  .list_div{
    min-width: 692px;
  }
  .el_card_el_image {
    width: 200px;
    height: 168px;
  }
  .writing_header {
    width: 800px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
  }
  .writing_header_left,
  .writing_header_right {
    width: 50%;
  }
  .writing_body {
    padding-left: 5px;
    box-sizing: border-box;
    margin: auto;
  }
}
