@media (min-width: 901px) {
  /* .writing_header{
    width: 700px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
  }
  .writing_header_left,.writing_header_right{
    width: 50%;
  }
  .writing_body{
    padding-left: 5px;
    width: 700px;
    box-sizing: border-box;
    margin: auto;
  } */
}
@media (min-width: 1200px){
  .Home_body{
    box-sizing: border-box;
    width: 1200px;
    margin: 5px auto;
  }
  .list_li{
    height: 200px;
  }
  .el_card_el_image{
    height: 148px;
  }
  .el_card_title{
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    max-width: 400px;
  }
  .el_card_generalization{
    max-width: 400px;
  }


    .writing_header{
    width: 900px;
    display: flex;
    box-sizing: border-box;
    margin: auto;
  }
  .writing_header_left,.writing_header_right{
    width: 50%;
  }
  .writing_body{
    padding-left: 5px;
    /* width: 900px; */
    box-sizing: border-box;
    margin: auto;
  }
}


